<h1>Carteira</h1>


<table border=1>
  <tr>
    <td>Mês</td>
    <td>Papel</td>
    <td>Preço Médio</td>
    <td>Quantidade</td>
    <td>Cotação Atual</td>
    <td>Mercado Interno</td>
    <td>Lucro</td>
  </tr>
{% for acao in object_list %}
<tr>
  <td>{{acao.mes_carteira}} </td>
  <td>{{acao.papel}} </td>
  <td>{{acao.preco_medio}} </td>
  <td>{{acao.quantidade}}</td>
  <td>0</td>
  <td>{{acao.dolarizado}} </td>
  <td>0</td>
</tr>

{% endfor %}
</table>
<hr>
<span id="total"> Total: {{ preco_acao }}</span>
<br>
<br>
<br>
<hr>
<p> Valor a pagar de Imposto de renda nacional:</p>
<br>
<br>
<hr>
<p> Valor a pagar de Imposto de renda extrangeiro:</p>
<br>
<br>
<hr>
