<div>
  <table border=1>
    <tr>
      <td>Papel</td>
      <td>Preço Médio</td>
      <td>Quantidade</td>
      <td>Cotação Atual</td>
      <td>Mercado Interno</td>
      <td>Lucro</td>
    </tr>

  {% for acao in queryset %}
    <tr>
      <td>{{acao.papel}}</td>
      <td>{{acao.preco_medio}}</td>
      <td>{{acao.quantidade}}</td>
      <td>{{acao.cotacao_atual}}</td>
      <td>{{acao.dolarizado}}</td>
      <td>{{acao.lucro}}</td>
    </tr>
  {% endfor %}
<div>
</br>
<p> Total Carteira: {{total_carteira}} </p>
<p> Dolar para venda: {{dolar}}</p>
