<div>
  <table border=1>
    <tr>
      <td>Papel</td>
      <td>Preço Médio</td>
      <td>Quantidade</td>
      <td>Cotação Atual</td>
      <td>Lucro</td>
    </tr>

  {% for acao in queryset %}
    <tr>
      <td>{{acao.papel}}</td>
      <td>{{acao.preco_medio}}</td>
      <td>{{acao.quantidade}}</td>
      <td>{{acao.cotacao_atual}}</td>
      <td>{{acao.lucro}}</td>
    </tr>
  {% endfor %}
  </table>
<div>

<p> Total Carteira: {{total_carteira}} </p>
<p> Dolar para venda: {{dolar}}</p>
<p> Lucro total: {{lucro_da_carteira}}</p>
